<section class="banner2_section py-2">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center banner-text">
        <h3>{{data.bannerHeading}}</h3>
        <p>{{data.bannerPara}}</p>
        <button class="btn btn-primary">{{data.bannerButton}}</button>
      </div>
      <div class="col-md-6 banner-image text-center">
        <img src="{{data.bannerImg}}" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</section>